*{
    padding:0;
    margin:0;

}
a{
    text-decoration: none;
    color:#000;

}
body{
    background: #5D5D5D;
}
h2{
    text-align: center;
    font-weight: normal;
}
ul li{
    list-style: none;
}