@CHARSET "UTF-8";
/**
*Healthy Page
**/
#healhy{
	width:100%; 
	height:100%; 
	margin:0 auto; 
	background-color:#364150 !important;
	font-family:Arial;
}
#healthy #heal_info{
	width:350px; 
	height:150px; 
	text-align:center;
	margin:0 auto; 
	background-color:#eceef1;
	padding:30px;
	margin-top: 80px;
}